@use "./mixins.scss" as m;
@use "./variables.scss" as v;
/* 
This partial holds major typography element styles such as h1-h6, p, and global classes or ids. As you can see in our example, I like to stay away from applying super-specific properties here, like color. This way I have the flexibility of changing it in different parts of the app, without worrying about specificity.
*/

h1 {
  font-family: v.$arimoFont;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 109%;

  @include m.mdMinBreakPoint {
    font-size: 44px;
  }
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;

  @include m.mdMinBreakPoint {
    font-size: 2rem;
  }
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 133%;

  @include m.mdMinBreakPoint {
    font-size: 18px;
  }
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  @include m.mdMinBreakPoint {
    font-size: 24px;
    line-height: 28px;
  }
}

.heading_four_normal {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 133%;

  @include m.mdMinBreakPoint {
    font-size: 14px;
  }
}

h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.4px;

  @include m.mdMinBreakPoint {
    font-size: 12px;
  }
}

.heading_five_normal {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 167%;

  @include m.mdMinBreakPoint {
    font-size: 12px;
  }
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  @include m.smMinBreakPoint {
    font-size: 8px;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.4px;

  @include m.mdMinBreakPoint {
    font-size: 21px;
    line-height: 22px;
  }
}
