@use "../../../sassStyles/variables" as v;
@use "../../../sassStyles/mixins" as m;

.navbar {
  display: grid;
  grid-template-columns: 3fr 0.5fr 0.65fr 0.5fr;
  align-items: center;
  max-width: 1440px;
  margin: 0px;
  margin-right: 3rem;

  @include m.xxlMinBreakPoint {
    margin-left: auto;
    margin-right: auto;
  }
}

.desktop-link {
  list-style: none;
  margin: 0.65rem;
}

.desktop-anchor {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  white-space: nowrap;
  letter-spacing: 0.4px;

  color: v.$broadcastDark;
}

.desktop-anchor:hover {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: v.$hoverBluePrint;
}

.desktop-active-link {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: v.$activeBluePrint;
}
